<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eurofurence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF00E0591C4FEDE600F998AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF00E06D1C4FEDE700F998AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF00E0781C4FEDE700F998AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
